@charset utf-8;
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, i, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: #9fa0a0;}
a:hover { text-decoration: none; color: #f08519;}

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}

q:before, q:after { content: ‘‘; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
.clearfix:after{content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix{zoom:1;}
.h15{
	height: 15px;
	overflow: hidden;
	clear: both;
}
.h20{
	height: 20px;
	overflow: hidden;
	clear: both;
}
/*main css*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.wrap{width: 1176px; overflow: hidden;margin: 0 auto;}
.logo-menu{height: 85px;overflow: hidden;}
.logo-menu .fr{
	overflow: hidden;
}
.logo-menu span{
	font-family: "Arial";
	color: #f08519;
	font-size: 18px;
	float: right;
	text-align: right;
	padding-right: 15px;
	width: 100%
}
.logo-menu ul li{float: left; padding: 12px 15px;}
.logo-menu ul li a{font-size: 18px;}
.logo-menu ul li em{font-size: 12px; display: block;padding-top: 5px;}
/*焦点图*/
.focus{position:relative; width:100%; height:513px; overflow:hidden;}
.focus .title{position:absolute; z-index:9; width:100%; right:0px; bottom:0px; height:30px;}
.focus .title p{display:none; position:absolute; width:380; color:#fff; font-size:18px; padding-left:10px; line-height:30px; overflow:hidden; font-family:"Microsoft YaHei";}
.focus .num{position:absolute; left:520px; width:120px; text-align:center; bottom:8px; z-index:10;}
.focus .num a{cursor:pointer; width:10px; height:10px; overflow:hidden; float:left; margin-right:8px; background:url(../img/change_03.png) -11px 0px no-repeat;}
.focus .num a.cur{background:url(../img/change_03.png) no-repeat;}
.focus ul{ position:relative; z-index:5;}
.focus ul li{position:absolute; display:none;}
.focus ul li img{width:100%; height:513px; top:0px;}
/*首页图片列表*/
.list-img{
	height: 427px;
	overflow: hidden;
	margin-bottom: 8px;
}
.list-img a{
	display:block;
	overflow: hidden;
	position: relative;
	margin-bottom: 8px;
}
.list-img .title{
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #000;
	color: #fff;
	font-size: 14px;
	bottom: 0;
}
.bgline{
	height: 45px;
	background: url(../img/bgline.jpg) repeat-x;
	width: 100%;
	overflow: hidden;
}
#backtop{
	width: 48px;
	height: 45px;
	display: block;
	background: #fff url(../img/backtop_28.png) center no-repeat;
	margin: 0 auto;
	padding: 0 10px;
	cursor: pointer;
}
.bottom{
	font-size: 14px;
	color: #9fa0a0;
	line-height:20px;
}
.bottom span{
	display: inline-block;
	vertical-align: top;
}
.bottom .left{
	width: 454px;
	text-align: left;
}
.bottom .center{
	width: 270px;
	text-align: center;
}
.bottom .right{
	text-align: right;
	width: 444px;
}
.bottom i{
	font-size: 22px;
	line-height: 35px;
}